@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.full-height {
  height: 100%;
  min-height: 100vh;
}

.bg-app {
  background-color: black;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(152, 2, 197, 0.25)),
    linear-gradient(to bottom, rgba(3, 149, 185, 0.35), rgba(0, 0, 0, 0.35)),
    url(./face.jpg);
  background-size: 195%;
  background-repeat: no-repeat;
  background-position: left 0% top 0%;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.bg-tp-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-tp-light {
  background-color: rgba(255, 255, 255, 0.1);
}

.font-size-data {
  font-size: 0.75em;
}

.icon {
  font-size: 2.4em;
}

.page-header {
  color: white;
  font-family: 'Montserrat', sans;
  font-size: 2.2em;
}

.stat {
  font-size: 2em;
}

.fade-in {
  animation-duration: 0.5s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  .bg-app {
    background-color: black;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(152, 2, 197, 0.25)),
      linear-gradient(to bottom, rgba(3, 149, 185, 0.35), rgba(0, 0, 0, 0.35));
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left 100% top 0%;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}
