@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.profile-header {
  font-family: 'Montserrat', sans;
  font-size: 2.2em;
}

.bg-custom {
  background-color: #5EECBE;
}

.text-custom {
  color: #5EECBE;
}

.montserrat {
  font-family: 'Montserrat', sans;
}

.border-custom {
  border: 1px solid #5EECBE;
}

.screen-height {
  height: 100vh;
  min-height: 100vh;
}

.btn-nav {
  width: 100%;
  height: 100%;
}

.btn-1 {
  background-color: #2f4154;
  color: white;
}

.btn-2 {
  background-color: #fb474d;
  color: white;
}

.btn-3 {
  background-color: #74bfdd;
  color: white;
}

.btn-4 {
  background-color: #8D97A1;
  color: white;
}

.btn-5 {
  background-color: #ececec;
}

.pointer:hover {
  cursor: pointer;
}

.canvas {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}

.stat-shadow {
  box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.5) !important;
}

.dark-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) !important;
}