/* @import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

.bg-image {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.4)
  ), 
  url(./assets/environment-forest-grass-142497.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.intro-header {
  color: white;
  font-size: 3.5em;
  font-family: 'Permanent Marker', cursive;
}

.intro-sub-header {
  color: white;
  font-size: 1.25em;
  font-family: 'Permanent Marker', cursive;
}

.intro-paragraph {
  color: white;
  font-family: 'Roboto', cursive;
}

.pointer:hover {
  cursor: pointer;
} */