@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

.intro-header {
  color: black;
  font-size: 3.2em;
  font-family: 'Permanent Marker', cursive;
}

.screen-height {
  height: 100vh;
  min-height: 100vh;
}

.nav-col-height {
  height: 20vh;
}

.btn-nav {
  width: 100%;
  height: 100%;
}

.btn-1 {
  background-color: #2f4154;
  color: white;
}

.btn-2 {
  background-color: #fb474d;
  color: white;
}

.btn-3 {
  background-color: #74bfdd;
  color: white;
}

.btn-4 {
  background-color: #8D97A1;
  color: white;
}

.btn-5 {
  background-color: #ececec;
}

.pointer:hover {
  cursor: pointer;
}

.canvas {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}

